[Unit]
Description=OctoRPKI
After=network.target

[Service]
Type=simple
EnvironmentFile=/etc/default/octorpki
WorkingDirectory=/usr/share/octorpki
ExecStart=/usr/bin/octorpki $OCTORPKI_ARGS

[Install]
WantedBy=multi-user.target