[Unit]
Description=OctoRPKI
After=network.target

[Service]
Type=simple
EnvironmentFile=/etc/default/octorpki
WorkingDirectory=/usr/share/octorpki
ExecStart=/usr/bin/octorpki -cache=/var/lib/octorpki/cache -output.sign=false

User=octorpki
Group=octorpki

[Install]
WantedBy=multi-user.target